.wallet-drag-area {
    border: 2px dashed var(--text-muted);
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.wallet-drag-area:hover,
.wallet-drag-area.drag-active {
    border-color: var(--interactive-accent);
    background-color: var(--background-modifier-hover);
}

.arweave-sync-icon {
    color: var(--text-muted);
}

.arweave-sync-icon.synced {
    color: var(--text-accent);
}

.view-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-header-title-container {
    flex-grow: 1;
}

.view-header-right-icons {
    display: flex;
    align-items: center;
}

.view-header .view-actions {
    margin-right: 8px;
}

.arweave-sync-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 4px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arweave-sync-button svg {
    width: 100%;
    height: 100%;
    fill: var(--text-muted);
    transition: fill 0.2s ease;
}

.arweave-sync-button:hover svg {
    fill: var(--text-normal);
}

.arweave-sync-button.uploading svg {
    animation: rotate 1s linear infinite;
}

.arweave-sync-button svg path {
    transition: fill 0.2s ease;
}

.arweave-sync-button.synced svg path {
    fill: green;
}

.arweave-sync-button:not(.synced):not([disabled]) svg path {
    fill: orange;
}

.arweave-sync-button[disabled] {
    /* opacity: 0.5; */
    cursor: default;
    /* pointer-events: none; */
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.arweave-wallet-status {
    display: flex;
    align-items: center;
}

.arweave-wallet-address {
    cursor: pointer;
    margin-right: 8px;
}

.arweave-wallet-disconnect {
    cursor: pointer;
}

.arweave-wallet-disconnect svg {
    width: 16px;
    height: 16px;
    fill: var(--text-muted);
}

.arweave-wallet-disconnect:hover svg {
    fill: var(--text-normal);
}

.arweave-sync-button {
    box-shadow: none;
    background: none;
}

.arweave-sync-sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 14px;
}

.arweave-sync-sidebar .tab-container {
    display: flex;
    border-bottom: 1px solid var(--background-modifier-border);
}

.arweave-sync-sidebar .tab {
    padding: 10px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: border-color 0.2s ease;
}

.arweave-sync-sidebar .tab.active {
    font-weight: bold;
    border-bottom-color: var(--interactive-accent);
}

.arweave-sync-sidebar .content-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 2rem;
}

.arweave-sync-sidebar .file-columns {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-grow: 1;
}

.arweave-sync-sidebar .file-column {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    margin-bottom: 10px;
    height: calc(50% - 20px);
    min-height: 0;
    overflow: hidden;
}

.arweave-sync-sidebar .file-column h3 {
    margin: 0;
    padding: 6px;
    border-bottom: 1px solid var(--background-modifier-border);
    margin-bottom: 0.5rem;
}

.arweave-sync-sidebar .file-tree-container {
    overflow-y: auto;
    flex-grow: 1;
}

.arweave-sync-sidebar .file-tree {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    flex-grow: 1;
}

.arweave-sync-sidebar .tree-item {
    margin: 0;
    padding: 0;
    position: relative;
}

.arweave-sync-sidebar .folder-item {
    position: relative;
}

.arweave-sync-sidebar .folder-item::before {
    content: "";
    position: absolute;
    left: 9px;
    top: 24px;
    bottom: 0;
    width: 1px;
    background-color: var(--background-modifier-border);
    display: none;
}

.arweave-sync-sidebar .folder-item.expanded::before {
    display: block;
}

.arweave-sync-sidebar .tree-item-content {
    display: flex;
    align-items: center;
    padding: 4px 0;
    font-size: 0.875rem;
    color: var(--text-normal);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.arweave-sync-sidebar .folder-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.arweave-sync-sidebar .folder-name,
.arweave-sync-sidebar .file-name {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.arweave-sync-sidebar .folder-contents {
    padding-left: 20px;
}

.arweave-sync-sidebar .file-item {
    position: relative;
}

.arweave-sync-sidebar .file-item::before {
    content: "";
    position: absolute;
    left: -11px;
    top: 50%;
    width: 10px;
    height: 1px;
    background-color: var(--background-modifier-border);
}

.arweave-sync-sidebar .is-clickable {
    cursor: pointer;
}

.arweave-sync-sidebar .nav-file-title:hover,
.arweave-sync-sidebar .nav-folder-title:hover {
    background-color: var(--nav-item-background-hover);
}

.arweave-sync-sidebar .nav-folder-children {
    padding-left: 0;
}

.arweave-sync-sidebar .submit-changes {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: var(--interactive-accent);
    color: var(--text-on-accent);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.arweave-sync-sidebar .submit-changes:hover {
    background-color: var(--interactive-accent-hover);
}

.arweave-sync-sidebar .tree-item-self.new-file .tree-item-inner {
    color: var(--text-error);
}

.arweave-sync-sidebar .tree-item-self.updated-file .tree-item-inner {
    color: var(--text-warning);
}

.arweave-sync-sidebar .tree-item-self.synced .tree-item-inner {
    color: var(--text-success);
}

.arweave-sync-sidebar .tab-container {
    display: flex;
    border-bottom: 1px solid var(--background-modifier-border);
    margin-top: 1rem;
}

.arweave-sync-sidebar .tab {
    padding: 10px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease;
    width: 100%;
    text-align: center;
}

.arweave-sync-sidebar .tab:hover {
    background-color: var(--background-modifier-hover);
}

.arweave-sync-sidebar .tab.active {
    font-weight: bold;
    border-bottom-color: var(--interactive-accent);
    background-color: var(--background-modifier-hover);
}

.nav-folder .tree-item-self.is-clickable.nav-file-title {
    margin-inline-start: -13px !important;
    padding-inline-start: 41px !important;
}
