/*!******************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles.css ***!
  \******************************************************************/
/* Add any custom styles here */
.wallet-drag-area {
    border: 2px dashed var(--text-muted);
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.wallet-drag-area:hover,
.wallet-drag-area.drag-active {
    border-color: var(--interactive-accent);
    background-color: var(--background-modifier-hover);
}

.arweave-sync-icon {
    color: var(--text-muted);
}

.arweave-sync-icon.synced {
    color: var(--text-accent);
}

.view-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-header-title-container {
    flex-grow: 1;
}

.view-header-right-icons {
    display: flex;
    align-items: center;
}

.view-header .view-actions {
    margin-right: 8px;
}

.arweave-sync-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 4px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arweave-sync-button svg {
    width: 100%;
    height: 100%;
    fill: var(--text-muted);
    transition: fill 0.2s ease;
}

.arweave-sync-button:hover svg {
    fill: var(--text-normal);
}

.arweave-sync-button.uploading svg {
    animation: rotate 1s linear infinite;
}

.arweave-sync-button svg path {
    transition: fill 0.2s ease;
}

.arweave-sync-button.synced svg path {
    fill: green;
}

.arweave-sync-button:not(.synced):not([disabled]) svg path {
    fill: orange;
}

.arweave-sync-button[disabled] {
    /* opacity: 0.5; */
    cursor: default;
    /* pointer-events: none; */
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

button:not(.clickable-icon) {
    box-shadow: none;
}

